<nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm nav-trasparente">
  <div class="container d-flex justify-content-between align-items-center flex-wrap">

  <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/">
  <img src="favicon.jpg" alt="Logo" class="me-2 logo-navbar">
  
  <span class="brand-text serif-title">
    <span class="text-gold shadow-text">L'OMBRA</span>
    <span class="text-cream ms-2">DEL BASILICO</span>
  </span>
</a>

    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" #nav>
      <ul class="navbar-nav ms-auto pt-3 pb-2">
        <li class="nav-item">
          <a class="nav-link text-uppercase small tracking-widest" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="nav.classList.remove('show')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase small tracking-widest" routerLink="/menu" routerLinkActive="active" (click)="nav.classList.remove('show')">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase small tracking-widest" routerLink="/contatti" routerLinkActive="active" (click)="nav.classList.remove('show')">Contatti</a>
        </li>
      </ul>
    </div>
  </div>
</nav>